
<div class="well">

    <%= simple_form_for(@client, html: { class: 'form-horizontal' }) do |f| %>

    <p>
      <%= f.input :first_name%>
    </p>
    <p>
      <%= f.input :last_name%>
    </p>
    <p>
      <%= f.input :initials%>
    </p>
    <p>
      <%= f.input :phone_number%>
    </p>
    <p>
      <%= f.input :birth_date%>
    </p>
    <p>
      <%= f.association :age_range_type, include_blank: false %>
    </p>
    <p>
      <%= f.association :gender_type, include_blank: false %>
    </p>
    <p>
      <%= f.association :exit_attempt_type, include_blank: false %>
    </p>
     <p>
      <%= f.association :family_type, include_blank: false %>
    </p>
    <div id= "buttonId" class="actions">
      <%= f.submit "Submit", class:"btn btn-primary btn-padded" %>
    </div>
  <% end %>
</div>
