<div class="well">

  <%= simple_form_for(@client, html: { class: 'form-vertical' },
  wrapper: :vertical_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    boolean: :horizontal_boolean,
  }
  ) do |f| %>

    <p>
      <%= f.input :first_name, required: true%>
    </p>
    <p>
      <%= f.input :last_name%>
    </p>
    <p>
      <%= f.input :initials, label:'Client ID', required: true, placeholder: 'Jane B. Short', hint:'This must be an unique combination of words or letters.'%>
    </p>
    <p>
      <%= f.input :phone_number, hint:'Feel free to include several numbers eg. 613-111-1111(home), 613-279-2222 (cell)'%>
    </p>
    <p>
      <%= f.input :birth_date%>
    </p>
    <p>
      <%= f.input :notes%>
    </p>
    <p>
      <%= f.input :start_date%>
    </p>
    <p>
      <%= f.association :age_range_type, label:'Age' %>
    </p>
    <p>
      <%= f.association :gender_type, label: 'Gender Identity' %>
    </p>
    <p>
      <%= f.association :target_groups, as: :check_boxes, label:'Member of Specific Target Group' %>
    </p>
    <p>
      <%= f.association :family_type, label: 'Family Status' %>
    </p>
    <p>
      <%= f.association :relationship_type, label: 'Relationship Status' %>
    </p>
    <p>
      <%= f.association :referrals, as: :check_boxes, label:'Referral Made By' %>
    </p>
    <p>
      <%= f.association :participation_type, label:'Extent of Participation' %>
    </p>
    <p>
      <%= f.association :exit_attempt_type, label: 'Number of Exit Attempts' %>
    </p>
    <p>
      <%= f.association :support_networks, as: :check_boxes, label: 'What Support Nework do they have?' %>
    </p>
    <p>
      <%= f.association :substances, as: :check_boxes, label: 'Are there Substance Abuse Issues?' %>
    </p>
    <p>
      <%= f.input :exit_reason, label: "What is they main reason for seeking help to exit prostitution?"%>
    </p>
    <p>
      <%= f.association :change_type, label: "Has there been a positive change while participating (Reduced Risk Factors)?"%>
    </p>
    <p>
      <%= f.association :outcomes, as: :check_boxes, label: 'Outcomes' %>
    </p>
    <p>
      <%= f.input :impact_notes, label: 'Describe Changes/Impacts'%>
    </p>
    <div>
      <%= f.button :submit%>
    </div>
  <% end %>
</div>

