<div class="container-fluid ">
  <div class="row col-xs-12">
    <div id= "links" class="actions">
      <%= button_to('New Client', new_client_path, method: :get, :class => 'btn  btn-primary pull-right btn-padded')  %>
    </div>
  </div>
  <div class="row col-xs-2">
      <%=image_tag("women2.png", :class => "img-rounded img-responsive")%>
  </div>
  <div class="row col-xs-12">
      <table id="student-table" class="table table-condensed">
         <thead>
            <tr>
               <th>First Name</th>
               <th>ID</th>
               <th>Quick View</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
         </thead>
         <% @clients.each do |client| %>
          <tr>
            <td id="name">
              <%=client.first_name%>
           </td>
           <td id="name">
              <%=client.initials%>
           </td>
           <td><%= button_to('Quick View', client_path(client), method: :get, :class => 'btn btn-secondary btn-sm')%>
           </td>
           <td><%= button_to('Edit', edit_client_path(client), method: :get, :class => 'btn btn-secondary btn-sm')%>
           </td>
           <td><%= button_to 'Delete', client_path(client), method: :get, :class => 'btn btn-secondary btn-sm',
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this client?' } %>
            </td>
           <%end%>
         </tr>
      </table>
   </div>
</div>
