
<div class="nested-fields well well-compact inline-form">
  <div>
    <%= f.input :start_date, ampm: true, as: :datetime, order: [:day, :month, :year], required: true %>
    <%= f.input :activity_type_id, collection: ActivityType.all, required: true %>
    <%= f.input :duration, label: 'Duration (hrs)', :class =>'form-control', :input_html => {:style=> 'width: 150px' }, required: true  %>
    <%= f.association :provider, label: 'Partner', label_method: :name, value_method: :id%>
    <p>
    <%= link_to_remove_association f do %>
      <i class="glyphicon glyphicon-remove"></i>
    <%end%>
    </p>
   </div>
</div>
