<div class="well">

    <%= simple_form_for(@record, html: { class: 'form-horizontal' }) do |f| %>

    <p>
      <%= f.hidden_field :manager_id, :value => get_manager_id(current_user)%>
    </p>
    <p>
      <%= f.association :client, label_method: :first_name, value_method: :id, required: true%>
    </p>
    <p>
      <%= f.association :risk_level_start,  required: true %>
    <p>
      <%= f.input :start_date, as: :date, order: [:day, :month, :year], required: true %>
    </p>
    <h3>Activities</h3>

    <div id="activities">
      <%= f.simple_fields_for :activities do |activity| %>
        <%= render 'activity_fields', :f => activity %>
      <%end%>
      <div class="btn btn-default">
        <%=link_to_add_association 'Add New Activity', f, :activities%>
      </div>
    </div>
    <p>
      <%= f.input :steps_taken, as: :text, :input_html => {:rows => 5}  %>
    </p>
    <p>
      <%= f.input :notes, as: :text, :input_html => {:rows => 5}  %>
    </p>
    <p>
      <%= f.association :risk_level_end, required: true %>
    <p>
    <p>
      <%= f.association :stage, required: true%>
    </p>
    <div>
      <%= f.button :submit%>
    </div>
  <% end %>
</div>
