<div class="container-fluid">
  <div id= "links" class="row col-xs-6 actions">
    <%= button_to('Edit', edit_record_path(@record), method: :get, :class => 'btn  btn-primary pull-right btn-padded')%>
    <%= button_to('Back', records_path(@record), method: :get, :class => 'btn  btn-primary pull-right btn-padded')%>
  </div>
  <div class="row">
    <div class ="col-xs-1">
    </div>
      <div class="col-xs-8">
        <h2>Record Quick View </h2>
        <p>
          <span id="label"> Client Id: </span>
          <%if @record.client_id != nil%>
            <span id="name"><%=Client.find(@record.client_id).initials%></span>
          <%end%>
        </p>
        <p>
          <span id="label"> Manager: </span>
          <%if @record.manager_id != nil%>
            <span id="name"><%=Manager.find(@record.manager_id).first_name%></span>
          <%end%>
        </p>
        <p>
          <span id="label"> Start Date: </span>
          <span id="name"><%=@record.start_date.strftime("%b %d, %y")%></span>
        </p>
        <p>
          <span id="label"> Notes: </span>
          <span id="name"><%=@record.notes%></span>
        </p>
        <p>
          <span id="label"> Start Date: </span>
          <span id="name"><%=@record.steps_taken%></span>
        </p>
        <p>
          <span id="label"> Risk Level (Start): </span>
          <%if @record.risk_level_start_id != nil%>
            <span id="name"><%=RiskLevelStart.find(@record.risk_level_start_id).name%></span>
          <%end%>
        </p>
        <p>
          <span id="label"> Risk Level (End): </span>
          <%if @record.risk_level_end_id != nil%>
            <span id="name"><%=RiskLevelEnd.find(@record.risk_level_end_id).name%></span>
          <%end%>
        </p>
        <p>
          <span id="label"> Client Stage: </span>
          <%if @record.stage_id != nil%>
            <span id="name"><%=Stage.find(@record.stage_id).name%></span>
          <%end%>
        </p>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Activity # </th>
              <th>Activity Type</th>
              <th>Date and Time</th>
              <th>Partner</th>
              <th>Time (hrs) </th>
            </tr>
          </thead>
          <%activity_count = 0%>
          <%count = 0%>
          <%if @record.activities != nil%>
            <% @record.activities.each do |activity| %>
              <tr>
                <td id="name">
                  <%=activity_count +=1%>
                </td>
                <td id="name">
                  <%=ActivityType.find(activity.activity_type_id).name%>
                </td>
                <td id="name">
                  <%=activity.start_date.strftime("%b %d, %y, %l:%M %p ")%>
                </td>
                <td id="name">
                  <%if activity.provider_id != nil %>
                    <%=Provider.find(activity.provider_id).name%>
                    <%end%>
                </td>
                <td id="name">
                  <%=activity.duration%>
                  <%count += activity.duration%>
                </td>
              </tr>
            <%end%>
          <%end%>
            <tr>
              <th>Total</th>
              <td></td>
              <td></td>
              <th><%=count%></th>
            </tr>
        </table>
    </div>
  </div>
</div>