<div class="container" id="splash-body">
    <div class="span6">
        <center>
       <!--  <a href="#bob" data-toggle="modal" data-target="#myModal"></a> -->
        <!-- <h4><a href="aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Sign In<a/></h3> -->
        <h3>Violet Memo</h3>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Login
        </button>

    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                      <div class="authform">
                        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
                         <h3 class="nohover-black">Violet Memo</h3>
                          <h3 class="nohover-black">Sign in</h3>
                          <%= devise_error_messages! %>
                          <div class="form-group">
                            <%= f.label :email %>
                            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= f.label :password %>
                            <%= f.password_field :password, class: 'form-control' %>
                          </div>
                          <%= f.submit 'Sign in', :class => 'button right' %>
                        <% end %>
                      </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>



