<div class="well">

   <%= form_for @activity do |f|%>

    <p>
      <%= f.label "Case Manager"%><br>
      <%= f.collection_select(:manager_id, Manager.all, :id, :first_name, {:class =>'form-control'}) %>
   </p>
   <p>
      <%= f.label :client_id %><br>
      <%= f.collection_select(:client_id, Client.all, :id, :initials, {:class =>'form-control'}) %>
   </p>
    <p>
      <%= f.label "Service Provider" %><br>
      <%= f.collection_select(:provider_id, Provider.all, :id, :name, {:class =>'form-control'}) %>
   </p>
   <p>
      <%= f.label "Activity Type"%><br>
      <%= f.collection_select(:activity_type_id, ActivityType.all, :id, :name, {:class =>'form-control'}) %>
   </p>
   <p>
      <%= f.label :start_date %>
      <%= f.datetime_select :start_date %>
   </p>
    <p>
      <%= f.label :duration %><br>
      <%= f.text_field :duration %>
   </p>
   <div id= "buttonId" class="actions">
      <%= f.submit "Submit", class:"btn btn-primary btn-padded" %>
   </div>
   <% end %>
</div>