<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
      <ul class="nav nav-tabs">
        <% if user_signed_in? %>
          <li class="<%= 'active' if params[:controller] =='clients' %> nav-link nav-item"><%= link_to 'Clients', clients_path%></li>
          <li class="<%= 'active' if params[:controller] =='records' %> nav-link nav-item"><%= link_to 'Notes', records_path %></li>
          <li class="nav-link nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
